{% block body %}
<p style="color: palevioletred; background: lightblue">
    Please Select Offending Value(s):
</p>
<form id="vals" method="post" enctype=multipart/form-data>
    <select name="off_values" size="10" multiple>
        {% with vals = get_flashed_messages
        (category_filter= "val")%}
            {% for val in vals %}
                <option>
                    {{ val }}
                </option>
            {% endfor %}
        {% endwith %}
        <input type=submit value=submit>
    </select>
</form>
{% endblock %}




