{% block body %}
<p style="color: palevioletred; background: lightblue">
    Please Select Offending Value(s):
</p>
<form id="vals" method="post" enctype=multipart/form-data>
    <select name="off_vals" size="10" multiple>
        {% with cols = get_flashed_messages
                        (category_filter="keys")%}
                    {%for i in cols %}
                        <optgroup label = {{ i }}>
                            {% with vals = get_flashed_messages
                            (category_filter=i)%}
                            {% for j in i[i] %}
                                    <option>
                                        {{ j }}
                                    </option>
                        </optgroup>
                    {% endfor %}
                    {% endwith %}
                    {% endfor %}
        {% endwith %}
        <input type=submit value=submit>
    </select>
</form>
{% endblock %}




