{% block body %}
<p style="color: palevioletred; background: lightblue">
    Please Select Offending Value(s):
</p>
<form id="vals" method="post" enctype=multipart/form-data>
    <select name="off_vals" size="10" multiple>
        {% with cols = get_flashed_messages
                        (category_filter="col_sel"),
                        vals = get_flashed_messages
                        (with_categories=true)%}
                    {% for col in cols %}
                        <optgroup label = {{ col }}>
                            {% if vals %}
                                <ul class=flashes>
                                {% for category, val in vals %}
                                    <option>
                                        <li class={{ val_gp }}>{{ val }}</li>
                                    </option>
                                {% endfor %}
                                 </ul>
                            {% endif %}
                        </optgroup>
                    {% endfor %}
        {% endwith %}
        <input type=submit value=submit>
    </select>
</form>
{% endblock %}


<!--{% with messages = get_flashed_messages(with_categories=true) %}-->
<!--  {% if messages %}-->
<!--    <ul class=flashes>-->
<!--    {% for category, message in messages %}-->
<!--      <li class="{{ category }}">{{ message }}</li>-->
<!--    {% endfor %}-->
<!--    </ul>-->
<!--  {% endif %}-->
<!--{% endwith %}-->

